<!DOCTYPE html>
<html>
  <head>
    <title>Carrer Website</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <div class="maindiv">
    <h1> A Sample Carrer Website</h1>
    <img class="pic1" src="static/picx.jpg" height=320>
    <h2>About the website</h2>
    <p id="mainP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Maecenas pharetra convallis posuere morbi leo urna molestie at. Nec tincidunt praesent semper feugiat. Morbi tristique senectus et netus et malesuada. Ultrices dui sapien eget mi proin sed. Quis vel eros donec ac. Mi ipsum faucibus vitae aliquet nec. Scelerisque eu ultrices vitae auctor eu augue ut. Nunc non blandit massa enim nec dui nunc. Vitae tortor condimentum lacinia quis vel eros donec ac. Convallis tellus id interdum velit laoreet. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper.</p>
    <h2>Open Positions</h2>
    <p>Show jobs here</p>
      <div class="contact">
    <button>Contact us</button>
      </div>
    </div>
  </body>
</html>